In [4]:
# Import python libraries into the project main document.

import pandas as pd
import numpy as ns
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read the student.csv dataset using pandas

student = pd.read_csv('student.csv')

In [3]:
# Exercise 1: Inpect the first five observation point on the dataset
""""
List of observed columns, their description and supposed datatype. 
- address: A norminal representation of address of the student. String(str.). U: urban, R: rural
- absences: The number of times the student was absent from school during the school year
- Mjob: Category of the students mother's job
- Fjob: Category of the students father's job
- Math_grade: The students final grade on Mathematics. ranges from 0 to 20. Integer(Int64)
"""

student.head()

  address  absences     Mjob      Fjob  math_grade
0       U         6  at_home   teacher           6
1       U         4  at_home     other           6
2       U        10  at_home     other          10
3       U         2   health  services          15
4       U         4    other     other          10

In [5]:
# Exercise 2: Use the .describe() method to inspect the summary statistics

student.describe(include='all')

"""
Observations from the summary table.
- 
"""

       address    absences   Mjob   Fjob  math_grade
count      395  395.000000    395    395  395.000000
unique       2         NaN      5      5         NaN
top          U         NaN  other  other         NaN
freq       307         NaN    141    217         NaN
mean       NaN    5.708861    NaN    NaN   10.415190
std        NaN    8.003096    NaN    NaN    4.581443
min        NaN    0.000000    NaN    NaN    0.000000
25%        NaN    0.000000    NaN    NaN    8.000000
50%        NaN    4.000000    NaN    NaN   11.000000
75%        NaN    8.000000    NaN    NaN   14.000000
max        NaN   75.000000    NaN    NaN   20.000000

In [ ]:
# Exercise 3: Calculate and print the mean value of math_grade

In [ ]:
# Exercise 4: Calculate and print the median value of math_grade. Compare the mean and 
# the median. Which is greater?

In [ ]:
# Exercise 5: Calculate and print the mode value of math_grade

In [ ]:
# Exercise 6: Calculate and print the range of math_grade

In [ ]:
# Exercise 7: Calculate and print the standard deviation of math_grade

In [ ]:
# Exercise 8: Calculate and print the mean absoute deviation of math_grade

In [ ]:
# Exercise 9: Visualize the distribution using histogram.

In [ ]:
# Exercise 10: Use box plot to visualize the distribution

In [ ]:
# Exercise 11: Summarize the Mjob by printing the number of students who have mothers with 
# each job type. use value_count()

In [ ]:
# Exercise 12: Calculate the proportions of students who have mothers with each job type.mro
# What proportion of students have mothers who work in health

In [ ]:
# Exercise 13: Visualize the Mjob distribution with a bar chart.

In [ ]:
# Exercise 14: Further visualize the Mjob distribution using pie chart

In [ ]:
# Exercise 15: Summarise other columns.
"""
address: the location of the student’s home ('U' for urban and 'R' for rural)
absences: the number of times the student was absent during the school year
Fjob: the student’s father’s job industry
"""